{%- for link in menu -%}
    <div class="item custom_text_font {% if link.active %}active{% endif %}{% if link.links != blank %} has-dropdown has-dropdown--mega{% endif %}"{% if link.links != blank %} aria-haspopup="true"{% endif %} data-parent="{{link.handle}}">
        <a href="{{ link.url }}" class="custom_text_font {% if link.active %}active-menu-item{% endif %}" {% if link.url == '#' %}onclick="return false;"{% endif %}>
            <span>{{ link.title | escape }}</span>
            {% if link.links != blank %}
              <span class="nav-chevron">{% render 'icon-chevron-nav' %}</span>
            {% endif %}
        </a>
    </div>
{%- endfor -%}
