re data-rid="97aae7d9-4ce3-4e78-aad6-8164d8df4457" tabindex="0" role="link" class="r-7uaen"><source srcSet="https://cdn.shopify.com/s/files/1/0418/7085/2258/files/Oral_spray_comapny_logo.png?v=1699283950&amp;width=188" media="(max-width: 640px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0418/7085/2258/files/REJUVIA_Logo_Wordmark_Black-01_51888cf8-03bd-42ff-be2d-076ef4bbc928.png?v=1698505282&amp;width=270" media="(min-width: 641px) and (max-width: 1024px)"/><source srcSet="https://cdn.shopify.com/s/files/1/0418/7085/2258/files/REJUVIA_Logo_Wordmark_Black-01_51888cf8-03bd-42ff-be2d-076ef4bbc928.png?v=1698505282&amp;width=270" media="(min-width: 1025px) and (max-width: 2400px)"/><img src="https://cdn.shopify.com/s/files/1/0418/7085/2258/files/REJUVIA_Logo_Wordmark_Black-01_51888cf8-03bd-42ff-be2d-076ef4bbc928.png?v=1698505282" alt="&#x27;Bold text logo reading &#x27;REJUVIA&#x27;&#x27;" class="r-1kzd68e" loading="eager"/></picture><div data-rid="f6c36d6d-226d-4772-b5d4-b085c78f34d0" tabindex="0" role="link" class="r-fggttf alchemy-rte"><span style="width:100%"><p><strong><u>50% OFF</u></strong> Risk-Free Trial Today</p></span></div><button data-rid="b41da8ef-5615-48f5-afab-3c6786c2e958" tabindex="0" role="link" class="text r-1djdm4o alchemy-rte"><div data-rid="dd2d632f-dbd1-4b2b-8a57-6fa024f2f56c" class="r-i0ajkq alchemy-rte"><span style="width:100%"><p>GET OFFER</p></span></div></button></div></div></div></div><style>@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900;950&family=Roboto:wght@100;200;300;400;500;600;700;800;900;950)</style><style id="replo-fonts-HelveticaNeueLTPro-Bd">
        @font-face {
          font-family: "HelveticaNeueLTPro-Bd";
          src: url("https://cdn.shopify.com/s/files/1/0418/7085/2258/files/HelveticaNeueLTPro-Bd.woff?v=1710206280") format("woff");
        }
      </style><style id="replo-fonts-HelveticaNeueLTPro-Roman">
        @font-face {
          font-family: "HelveticaNeueLTPro-Roman";
          src: url("https://cdn.shopify.com/s/files/1/0418/7085/2258/files/HelveticaNeueLTPro-Roman.woff?v=1710206529") format("woff");
        }
      </style></div>
{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
  <script type="application/json" id="replo-deps-products">
    [{"id":"5433533956258","handle": "sleep-spray","data":{{ all_products['sleep-spray'] | json }}},{"id":"8245263171804","handle": "oral-stress-spray","data":{{ all_products['oral-stress-spray'] | json }}}]
  </script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}<script type="application/json" id="replo-deps-shopify-store">{ "shop": { "moneyFormat": {{ shop.money_format | json }}, "moneyWithCurrencyFormat": {{ shop.money_with_currency_format | json }} } }</script>{%- comment -%}replo-liquid-chunk-end{%- endcomment -%}