52d-8df0ec7b43b5" class="r-1xtij64 alchemy-rte"><span style="width:100%"><p>hello@rejuvia.co</p></span></div></div><div data-rid="8fbbaa03-8045-42ac-bb97-efe6b82f1091" class="r-12yszsm alchemy-rte"><span style="width:100%"><p><strong>© 2024 Rejuvia Co. All Rights Reserved.</strong></p></span></div></div></div></div></div><style>@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900;950&family=Roboto:wght@100;200;300;400;500;600;700;800;900;950)</style><style id="replo-fonts-HelveticaNeueLTPro-Bd">
        @font-face {
          font-family: "HelveticaNeueLTPro-Bd";
          src: url("https://cdn.shopify.com/s/files/1/0418/7085/2258/files/HelveticaNeueLTPro-Bd.woff?v=1710206280") format("woff");
        }
      </style><style id="replo-fonts-HelveticaNeueLTPro-Roman">
        @font-face {
          font-family: "HelveticaNeueLTPro-Roman";
          src: url("https://cdn.shopify.com/s/files/1/0418/7085/2258/files/HelveticaNeueLTPro-Roman.woff?v=1710206529") format("woff");
        }
      </style></div>
{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}
  <script type="application/json" id="replo-deps-products">
    [{"id":"5433533956258","handle": "sleep-spray","data":{{ all_products['sleep-spray'] | json }}}]
  </script>
  {%- comment -%}replo-liquid-chunk-end{%- endcomment -%}{%- comment -%}replo-liquid-chunk-begin{%- endcomment -%}<script type="application/json" id="replo-deps-shopify-store">{ "shop": { "moneyFormat": {{ shop.money_format | json }}, "moneyWithCurrencyFormat": {{ shop.money_with_currency_format | json }} } }</script>{%- comment -%}replo-liquid-chunk-end{%- endcomment -%}