<style>
  .hero-our-quality {font-family: "Nexa"; color: #0A0A0A; padding: 1em;}
  .hero-our-quality .hero-container .heading {font-size: 3.214em; font-weight: 800; margin-bottom: .5em; letter-spacing: normal;}
  .hero-our-quality .hero-container .subheading {font-size: 1.286em; letter-spacing: normal;}
  .hero-our-quality .hero-container {padding: 6.5em 0;}
  .hero-our-quality .medium-up--hide {display: none !important;}
  .hero-our-quality .nav {margin: 2em auto;}
  .hero-our-quality .nav a {margin: 0 1em; font-size: 1.286em; text-transform: uppercase; letter-spacing: 1px; font-weight: 600;}
  .hero-our-quality .nav .button {position: relative;}
  .hero-our-quality .trigger {font-size: 1.286em; cursor: pointer;width: 100%; height: 100%; text-transform: uppercase; border: 2px solid #0A0A0A; padding: 0.6em 3em 0.6em 1em; text-align: left; border-radius: 2em;}
  .hero-our-quality svg {transition: 0.2s all ease; cursor: pointer; position: absolute; font-size: 1.5em; right: 1em; top: 51.8%; transform: translateY(-50%);}
  .hero-our-quality .links {opacity: 0; pointer-events: none; height: 0; transition: 0.2s all ease;}
  .hero-our-quality .links.open {opacity: 1; height: auto; pointer-events: auto;}
  
  @media all and (max-width: 600px) {
    .hero-our-quality .hero-container .heading {font-size: 1.714em;}
    .hero-our-quality .hero-container .subheading {font-size: 1em;}
    .hero-our-quality .hero-container {background-size: cover; background-position: center center; background-repeat: no-repeat;}
	.hero-our-quality .small--hide {display: none !important;}
    .hero-our-quality .small--show {display: block !important;}
    .hero-our-quality .nav a {display: block; margin: 1em 1em; letter-spacing: normal; font-weight: 400;}}
    .hero-our-quality .nav a:hover {color: #000 !important;}
    .hero-our-quality .nav {margin-bottom: 0;}
</style>

<section class="hero-our-quality">
  <div class="hero-container text-center lazyload small--hide" {% if section.settings.image != nil %}data-bgset="{% render 'lazy_src', image: section.settings.image %}{% endif %}">
    <div class="heading">
      {{ section.settings.heading }}
    </div>
    <div class="subheading">
      {{ section.settings.subheading }}
    </div>
  </div>
  <div class="hero-container text-center lazyload medium-up--hide small--show" {% if section.settings.image_mobile != nil %}data-bgset="{% render 'lazy_src', image: section.settings.image_mobile %}"{% else %}data-bgset="{% render 'lazy_src', image: section.settings.image %}"{% endif %}>
    <div class="heading">
      {{ section.settings.heading }}
    </div>
    <div class="subheading">
      {{ section.settings.subheading }}
    </div>
  </div>
  <div class="nav flex justify-content-center small--hide">
    <a href="#" onclick="$('html, body').animate({ scrollTop: $('#our-values').offset().top - 160 }, 1000)">Learn</a>
    <a href="#" onclick="$('html, body').animate({ scrollTop: $('#ingredients').offset().top - 160 }, 1000)">Ingredients</a>
    <a href="#" onclick="$('html, body').animate({ scrollTop: $('#our-quality').offset().top - 160 }, 1000)">Our Quality</a>
  </div>
  <div class="nav hide small--show">
    <div class="button" onclick="$(this).siblings('.links').toggleClass('open'); $(this).find('svg').toggleClass('visuallyhidden');">
      <button class="trigger">Learn</button>
      {% include 'icons', icon: 'arrow-down' %}
      {% include 'icons', icon: 'arrow-up', iconClass: 'visuallyhidden' %}
    </div>
    <div class="links">
      <a href="#" onclick="$('html, body').animate({ scrollTop: $('#our-values').offset().top - 160 }, 1000); $(this).parent().toggleClass('open'); $(this).parent().siblings('.button').find('.trigger').html('Our Values'); $(this).parent().siblings('.button').find('svg').toggleClass('visuallyhidden');">Learn</a>
      <a href="#" onclick="$('html, body').animate({ scrollTop: $('#ingredients').offset().top - 160 }, 1000); $(this).parent().toggleClass('open'); $(this).parent().siblings('.button').find('.trigger').html('Ingredients'); $(this).parent().siblings('.button').find('svg').toggleClass('visuallyhidden');">Ingredients</a>
      <a href="#" onclick="$('html, body').animate({ scrollTop: $('#our-quality').offset().top - 160 }, 1000); $(this).parent().toggleClass('open'); $(this).parent().siblings('.button').find('.trigger').html('Our Quality'); $(this).parent().siblings('.button').find('svg').toggleClass('visuallyhidden');">Our Quality</a>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Hero About Us",
    "settings": [
	  {
		"type": "image_picker",
		"id": "image",
		"label": "Background Image"
	  },
	  {
		"type": "image_picker",
		"id": "image_mobile",
		"label": "Background Image (Mobile)"
	  },
	  {
		"type": "text",
		"id": "heading",
		"label": "Heading",
		"default": "Heading"
	  },
	  {
		"type": "text",
		"id": "subheading",
		"label": "Subheading",
		"default": "Subheading"
	  }
	]
  }
{% endschema %}
