<div class="icons-row icons-row-container">
    <div class="icons-row__wrap">
        {%- for block in section.blocks -%}
            <div class="icons-row__item">
                <img src="{{ block.settings.icon | img_url: 'master' }}" alt="{{ block.settings.text }}" class="icons-row__image">
                <div class="icons-row__text">
                    {{ block.settings.text }}
                </div>
            </div>
        {%- endfor -%}
    </div>
</div>

{% schema %}
{
  "name": "Icons row",
  "settings": [],
  "blocks": [
    {
      "type": "icon-text",
      "name": "Icon and Text",
      "settings": [
        {
          "id": "icon",
          "type": "image_picker",
          "label": "Icon"
        },
        {
          "id": "text",
          "type": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Icons row"
    }
  ]
}
{% endschema %}