<div class="collection-top text-center" style="padding-top:30px;padding-bottom:30px;">
  <h1 style="font-weight:600;margin-bottom:10px;">
    {% if collection.title == 'all' or collection.title == 'All' %}
  {{ section.settings.nameCollection }}
      {% else %}
      {{ collection.title }}
      {% endif %}
  </h1>
  <div class="customContent">{{ section.settings.customContent }}</div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": [
      
          {
            "type": "text",
            "id": "nameCollection",
            "label": "Replace title Name:"
          },
          {
            "type": "textarea",
            "id": "customContent",
            "label": "Custom Content"
          }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
