<style>
  .contact-us {font-family: "Nexa"; color: #000000; padding: 1em;}
  .contact-us .hero-container .heading {font-size: 3.214em; font-weight: 800; margin-bottom: .5em; letter-spacing: normal;}
  .contact-us .hero-container .subheading {font-size: 1.286em; letter-spacing: normal;}
  .contact-us .hero-container {padding: 8em 0em; background-position: center; background-size:cover; background-repeat: no-repeat;}
  .contact-us .medium-up--hide {display: none !important;}  
  
  @media all and (max-width: 900px) {
    .contact-us .hero-container .heading {font-size: 1.714em;}
    .contact-us .hero-container .subheading {font-size: 1em;}
    .contact-us .hero-container {background-size: cover; background-position: center center; background-repeat: no-repeat;}
	  .contact-us .small--hide {display: none !important;}
    .contact-us .small--show {display: block !important;}
  }
</style>

<section class="contact-us">
  <div class="hero-container text-center lazyload small--hide" {% if section.settings.image != nil %}data-bgset="{% render 'lazy_src', image: section.settings.image %}{% endif %}">
    <div class="heading">
      {{ section.settings.heading }}
    </div>
    <div class="subheading">
      {{ section.settings.subheading }}
    </div>
  </div>
  <div class="hero-container text-center lazyload medium-up--hide small--show" {% if section.settings.image_mobile != nil %}data-bgset="{% render 'lazy_src', image: section.settings.image_mobile %}"{% else %}data-bgset="{% render 'lazy_src', image: section.settings.image %}"{% endif %}>
    <div class="heading">
      {{ section.settings.heading }}
    </div>
    <div class="subheading">
      {{ section.settings.subheading }}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Hero Contact Us",
    "settings": [
	  {
		"type": "image_picker",
		"id": "image",
		"label": "Background Image"
	  },
	  {
		"type": "image_picker",
		"id": "image_mobile",
		"label": "Background Image (Mobile)"
	  },
	  {
		"type": "text",
		"id": "heading",
		"label": "Heading",
		"default": "Heading"
	  },
	  {
		"type": "text",
		"id": "subheading",
		"label": "Subheading",
		"default": "Subheading"
	  }
	]
  }
{% endschema %}
