.how-it-works-section {
    background: #EBEDF6;
}

.how-it-word-section_container {
    padding: 40px 16px;
    max-width: 1440px;
    margin: auto;
}

.how-it-word-section_container .section-title--h1 {
    margin-bottom: 16px;
    text-align: center;
}

.how-it-word-section_container .section-subheading {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 25.2px */
}

.step_idicator {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: 0.56px;
    margin-bottom: 4px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin-top: 32px;
    
    /* margin: 20px; */
}

.how-it-word-section_container .card {
    border-radius: 8px;
    overflow: hidden;
    flex: 1 1 400px;
    max-width: 400px;
    text-align: center;
}

.how-it-word-section_container .card img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    margin-bottom: 16px;
    border-radius: 8px;
}

.how-it-word-section_container .description_card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-it-word-section_container .card p.description {
    margin: 0;
    color: #000;
    width: 70%;

    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 33.6px */
    letter-spacing: -0.264px;
}

@media (max-width: 600px) {
    .how-it-word-section_container .card img {
        height: 300px;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .how-it-word-section_container .card {
        flex: 1 1 45%;
        max-width: 45%;
    }

    .how-it-word-section_container .card img {
        height: 300px;
    }
}

@media (min-width: 901px) {
    .how-it-word-section_container {
        padding: 88px 125px;
    }

    .card-container {
        gap: 36px;
    }

    .how-it-word-section_container .card {
        flex: 1 1 30%;
        max-width: 30%;
    }

    .how-it-word-section_container .card img {
        height: 400px;
    }
    
    .how-it-word-section_container .card p.description {
        width: 90%;
    }
}.how-to-use-section {
    
}

.how-to-use-container {
    padding: 16px 16px 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media screen and (min-width: 768px) {
    .how-to-use-container {
        padding: 56px 64px;
        max-width: 1440px;
        margin: auto;
    }
}

@media screen and (min-width: 1024px) {
    .how-to-use-container {
        gap: 72px;
    }
}

/* image */

.how-to-image-container {
    border-radius: 8px;
    min-height: 390px;
    max-width: 440px;
}

.how-to-image-content {
    height: 390px;
}

.how-to-image-container img {
    width: 100%;
    border-radius: 8px;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 768px) {
    .how-to-image-container {
        max-width: 688px;
        /* margin: 0px auto 0; */
    }

    .how-to-image-content {
        height: 557px;
        width: 485px;
    }
}

@media screen and (min-width: 500px) and (max-width: 1023px) {
    .how-to-image-container {
        margin: 0px auto 0;
    }
}

@media screen and (min-width: 1024px) {
    .how-to-use-container {
        flex-direction: row;
    }
}

/* info content */

@media screen and (min-width: 768px) {
    .info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.how-to-use-container h3 {
    margin-bottom: 8px;
}

.how-to-use-container p {
    margin: 0;
}

.info-container .subheading {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.info-container .step_indicator {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: 0.56px;
    margin-bottom: 8px;
}

.info-container .step_description {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    letter-spacing: -0.22px;
}


.steps-block-container {
    display: flex;
    padding: 0px 24px;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    align-self: stretch;
    margin-top: 24px;
}


@media screen and (min-width: 768px) {
    .info-container .subheading {
        font-size: 20px;
    }

    .steps-block-container {
        flex-direction: row;
        margin-top: 64px;
        padding: 0;
    }
}
.trustb-section {
    padding-top: 33px;
    padding-bottom: 33px;
    max-width: 1130px;
    margin: auto;
    background: #FEFEFE;
}

@media screen and (min-width: 750px) {
    .trustb-section {
        padding: 50px 0px 60px 0px;
    }
}

.trustb-section  .section-title {
    color: #171512;

    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
}

@media screen and (min-width: 750px) {
    .trustb-section  .section-title {
        font-size: 24px;
    }
}

.trustb-section #trust-badges-slider {
    position: relative;
}


.trust-logo-item {
    height: 50px;
    max-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@media screen and (min-width: 750px) {
    .trust-logo-item {
        /* max-width: 90%; */
    }
}

.trust-logo-item img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    /* transform: scale(0.8); */
}

.scale_up_image {
    /* object-fit: cover; */
    /* transform: scale(1.5)!important; */
}

.scale_down_image {
    transform: scale(0.8)!important;
}
.product_features_container {
    padding: 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.10);
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    max-width: 1400px;
    margin: auto;
}

.product_features_container .section-title--h1 {
    margin-bottom: 16px;
}

.product_features_container .btn {
    margin-top: 24px;
}

.product_features_container .inner_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.pd_info-container p {
    color: #171512;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.product_image_container {
    height: 420px;
    width: 100%;
    border-radius: 8px;
}

.product_image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.product_features_container .features_icons {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0px 16px;
    grid-template-columns: repeat(2, 1fr);

    color: #672666;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
}

.product_features_container .features_icons div {
    max-width: 100px;
}

@media screen and (min-width: 750px) {
    .product_features_container {
        padding: 56px 64px;
    }

    .product_features_container .btn {
        max-width: 312px;
    }

    .pd_info-container p {
        font-size: 18px;
    }
}

@media screen and (min-width: 950px) {
    .product_features_container .inner_container {
        flex-direction: row-reverse;
        gap: 135px;
    }

    .product_image_container {
        width: 50%;
        height: 640px;
    }

    .pd_info-container {
        width: 60%;
    }
}