.customer-testimonials-section {
    position: relative;
    background: #F0E9EF;
}

.customer-testimonials-container {
    padding: 40px 0px 104px 16px;
}

#glide-testimonials {
    margin-top: 24px;
}


@media screen and (min-width: 900px) {
    .customer-testimonials-container {
        margin: auto;
        max-width: 1440px;
        padding: 72px 0px 104px 30px;
    }

}

@media screen and (min-width: 1280px) {
    .customer-testimonials-container {
        padding: 88px 113px 126px 113px;
    }
}

.customer-testimonials-container .reviews_section-title {
    color: #171512;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 38.4px */
    letter-spacing: -0.32px;
}

.testimonial-social-proof {
    display: flex;
    align-items: flex-end;
    margin-bottom: 16px;
    gap: 16px;
}

.testimonial-social-proof span {
    font-size: 18px;
    font-weight: 500;
    line-height: 150%; /* 27px */
}

@media screen and (min-width: 750px) {
    #glide-testimonials {
        margin-top: 48px;
    }

    .customer-testimonials-container .reviews_section-title {
        color: #000;
        text-align: center;
        font-size: 48px;
        letter-spacing: -0.48px;
    }

    .testimonial-social-proof {
        justify-content: center;
    }
}

.customer-review-box {
    /* width: 260px; */
    /* min-height: 470px; */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.customer-review-image {
    display: flex;
}

.customer-review-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (min-width: 750px) {
    .customer-review-box {
        /* width: 288px; */
    }

    .customer-review-image {
        height: 370px;
    }
}


.customer-review-box p {
    margin: 0;
}

.review_content {
    padding: 24px 16px;
    text-align: center;
    background-color: #FFF;
}

.review-title {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 8px;
    line-height: normal;
}

.review-para {
    overflow: hidden;
    color: var(--colors-brand-dark, #000);
    text-align: center;
    text-overflow: ellipsis;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 20.8px */
}

.review-name {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
}



/* --- Slider custom theme --- */

.glide__slide {
    border-radius: 8px;
    overflow: hidden;
}

.glide__arrows {
    position: absolute;
    bottom: -4rem;
    left: -10px;
}

.glide__arrow {
    border-radius: 50%!important;
    padding: 0px!important;
    border: none!important;
    box-shadow: none!important;
    height: 56px!important;
}

.glide__arrow--right {
    left: 4em!important;
}

.glide__arrow--left {
    left: 0em!important;
}.customer-testimonials-section {
  position: relative;
  background: #F0E9EF;
  letter-spacing: normal;
}

.customer-testimonials-container {
  padding: 80px 1.5em 80px;
  max-width: 1300px;
  margin: 0 auto;
}

.customer-testimonials-container .reviews_section-title {
  color: #040404;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.48px;
  margin-bottom: 24px;
  text-align: center;
}

.testimonial-social-proof {
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
  gap: 4px;
}

.testimonial-social-proof span {
  color: #5C5C5C;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.testimonial-social-proof svg {
  margin-right: 4px;
  margin-bottom: 1px;
}

.customer-testimonials .glide__bullets {
  gap: 4px;
  position: unset;
  transform: translateX(0%);
}

.customer-testimonials .glide__bullet {
  background-color: #f0e9ef;
  border: 1px solid #f0e9ef;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  margin: 0;
  transition: none !important;
}

.customer-testimonials .glide__bullet span {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  background-color: #fff;
  transition: none !important;
} 

.customer-testimonials .glide__bullet:hover {
  background-color: #f0e9ef;
  border: 1px solid #f0e9ef;
  transition: none !important;
}

.customer-testimonials .glide__bullet:focus {
  background-color: #f0e9ef;
  border: 1px solid #f0e9ef;
  transition: none !important;
}

.customer-testimonials .glide__bullet--active {
  border: 1px solid #672666 !important;
  transition: none !important;
  background-color: #f0e9ef !important;
}

.customer-testimonials .glide__bullet--active span {
  background-color: #672666;
} 


@media screen and (min-width: 750px) {
  .testimonial-social-proof {
    justify-content: center;
  }
}

.customer-review-box {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.customer-review-image {
  display: flex;
}

.customer-review-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.customer-review-image:has(video) {
  position: relative;
}

.customer-review-image {
  height: 378px;
}

.customer-review-image video {
  width: 100%;
  cursor: pointer;
  object-fit: cover;
}

.customer-review-play {
  position: absolute;
  width: 80px;
  height: 80px;
  padding: 20px;
  cursor: pointer;
  border-radius: 10000px;
  background: rgba(255, 255, 255, 0.40);
  backdrop-filter: blur(8px);
  left: 50%;
  transform: translateX(-50%);
  top: 37%;
}

@media screen and (min-width: 750px) {
  .customer-review-image {
    height: 370px;
  }
}

.customer-review-box p {
  margin: 0;
}

.review_content {
  padding: 20px;
  text-align: center;
  background-color: #FFF;
}

.review-title {
  color: #040404;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 8px !important;
}

.review-para {
  overflow: hidden;
  color: #000;
  text-align: center;
  text-overflow: ellipsis;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.review-name {
  color: #5C5C5C;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: -4px !important;
}

span.customer-testimonials-reating {
  color: #040404;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}

/* --- Slider custom theme --- */

.customer-testimonials-video {
  .glide__slide {
    border-radius: 8px;
    overflow: hidden;
  }

  .glide__arrows {
    display: flex;
    align-items: center;
    gap: 16px;
    position: unset;
  }

  .glide__arrows .glide__arrow:hover {
    border-color:#672666;
  }

  .glide__arrows .glide__arrow:hover svg {
    background-color: #672666;
  }

  .glide__arrows .glide__arrow:hover path {
    stroke: #fff;
  }

  .glide-arrows-bullet__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
  }

  .glide__arrows .glide__arrow {
    padding: 0px; 
    box-shadow: none !important;
    border: unset; 
    height: 50px !important;
    width: 50px;
    position: unset;
    transform: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .glide__arrows .glide__arrow svg {
    padding: 13px;
    border-radius: 50%;
    border: 1.5px solid #672666;
    background: #f0e9ef;
  }

  .glide__arrow--right {
    left: 4em !important;
  }

  .glide__arrow--left {
    left: 0em !important;
  }
}

@media screen and (max-width: 749px) {
  .testimonial-social-proof {
    margin-bottom: 12px;
  }

  .reviews_section-title {
    margin-bottom: 16px;
  }

  .customer-testimonials-container .reviews_section-title {
    font-size: 32px;
    margin-bottom: 16px;
    letter-spacing: -0.32px;
    text-align: left;
  }

  .glide-arrows-bullet__box {
    margin-top: 16px;
  }

  .customer-testimonials-container {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 0;
  }

  .review_content {
    padding: 16px;
  }

  .customer-testimonials-video .glide__arrows {
    padding-right: 21px;
  }
}.featured-customer-reviews-container {
    padding: 40px 0px 80px 16px;
    max-width: 1440px;
    margin: auto;
}

.container-slider-reviews {
    display: flex;
    flex-direction: column;
    position: relative;
}

.featured-customer-reviews-container .section-title {
    color: #171512;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 38.4px */
    margin-right: 24px;
}

.customer-review_item {
    color: #171512;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px; /* 123.529% */
}

.customer-review_item .review-content {
    margin: 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 33.6px */
    letter-spacing: -0.24px;
}

.review-info-container {
    display: flex;
    gap: 18px;
    align-items: center;
    margin-top: 16px;
}

.review-image-author {
    border-radius: 100%;
    aspect-ratio: 1;
    width: 60px;
    height: 60px;
}

.review-image-author img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.review-info-container .review-item-name {
    color: #171512;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    margin: 0;
    margin-bottom: 4px;
}

.review-info-container .review-verified {
    color: rgba(23, 21, 18, 0.76);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: 0.28px;
    text-transform: uppercase;
    margin: 0;
}

.featured-customer-reviews-container .glide {
    margin-bottom: 40px;
}

.slick-slider .slick-slide {
    margin: 0 0px;
}

.glide {
    position: static!important;
    /* width: 70%!important; */
}

.glide__arrows {
    position: absolute;
    bottom: -1rem;
    left: -10px;
}

.glide__arrow {
    background: #fff!important;
    border-radius: 50%!important;
    padding: 0px!important;
    border: none!important;
    box-shadow: none!important;
    height: 56px!important;
}

.glide__arrow--right {
    left: 4em!important;
}

.glide__arrow--left {
    left: 0em!important;
}

@media screen and (min-width: 750px) {
    .featured-customer-reviews-container {
        padding: 80px 0px 80px 64px;
    }

    .featured-customer-reviews-container .section-title {
        font-size: 36px;
        margin-right: 0px;
    }

    .customer-review_item .review-content {
        font-size: 34px;
    }

    .customer-review_item {
        max-width: 720px;
    }
}

@media screen and (min-width: 1200px) {
    .featured-customer-reviews-container{
        padding: 80px 0px 80px 64px;
    }

    .container-slider-reviews {
        flex-direction: row;
        gap: 112px;
    }

    .glide__arrows {
        bottom: 6.3rem;
    }
}

@media screen and (min-width: 1350px) {
    .customer-review_item {
        max-width: 820px;
    }
}