<head>
  <meta name="description" content="Rejuvia makes all-natural oral sprays for sleep, anxiety, stress and pain relief."/>
  <meta name="keywords" content="natural sleep aid, sleep spray, all-natural sleep aids, natural sleep supplements, melatonin alternative, oral sleep spray" />
</head>  
{%- render 'structured_data', data: 'blog' -%}
<div class="blog-container article-new container custom_text_font">
  <div class="grid justify-content-center">
    <div class="grid__item large--flex-1 medium--down--one-whole">
      {%- section 'article-new' -%}
    </div>
  </div>
</div>