
{%- render 'structured_data', data: 'blog' -%}
<div class="blog-container container">
  <div class="grid">
    <div class="grid__item large--flex-1 medium--down--one-whole">
      {%- section 'blog' -%}
    </div>
  </div>
</div>