
{%- render 'structured_data', data: 'blog' -%}
<div class="blog-container container blog-grid">
  <div>
    <div class="large--flex-1 medium--down--one-whole">
      {%- section 'blog-grid' -%}
    </div>
  </div>
</div>