<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="facebook-domain-verification" content="83oi8yqil0ha2pgr9sit7bgxfv8dcr" />
    <meta name="google-site-verification" content="XM6h9jLMM-HNdEytyhvpQtsP3_rgxIxUHyL6FS3qGmY" />
    <meta name="description" content="Rejuvia's all-natural oral sprays are made with premium, organic ingredients that help you sleep better and feel less stressed."/>
    <meta name="keywords" content="oral sprays, sleep spray, all-natural sleep aids, natural sleep supplements, melatonin alternative, natural anxiety products, natural stress products"/>
</head>  
<div id="home">
  {{ content_for_index }}
</div>
