<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="contact Rejuvia, Rejuvia contact" />
  <meta name="robots" content="index, follow">    
</head>  
<style>
  .page.contact {text-align: center;}
  .page.contact .form {max-width: 700px; margin: 3.5em auto 0;}
  .page.contact h2 {font-size: 1.3em; text-transform: uppercase;}
  .page.contact input {font-size:1.15em; list-style: none; border-radius:10em; border:2px solid; margin: 0 0 2em 0; }
  .page.contact #reason {margin-bottom: 0;}
  .page.contact textarea {font-size:1.15em; height:100%; border-radius: 1em; border: 2px solid;}
  .page.contact .btn {width: min-content; margin-top: 2em;}
  .page.contact .error {border: solid 1px {{ settings.content_red_details_color}}; }
  .page.contact a:not(.btn) {background:#EAC78B; text-decoration: none;}
  .page.contact a:not(.btn):hover {background:#000000!important;}
  .page.contact .form-left {margin-right: 2em;}

  /* FAQs */
  .faq-section {background-color: #F4F4F4; margin: 3em 0; padding: 2em 0;}
  .faqpage {max-width: 930px; margin:3em auto;}
  .faqpage .title {text-transform: none; font-size: 3.2em; letter-spacing: normal;}
  .faqpage ul { margin: 0; padding: 0; }
  .faqpage ul li { margin: 0; padding: 0; list-style-type: none; }
  .faqpage ul li.title {
    border-top: none;
  }
  .faqpage ul li {
    padding: 20px 0;
    border-top: 1px solid #000;
  }
  .faqpage ul li:last-child {
    border-bottom: 1px solid #000;
  }
  .faqpage ul li a.toggler {
    color: #000;
    font-size: 18px;
    text-decoration: none;
    display: block;
    width: 100%;
  }
  .faqpage ul li p strong {
    font-weight: 400;
  }
  .faqpage ul li a .arrow {font-size: 1.5em; margin-right: 0.5em;}
  .faqpage ul li a .arrow-up { display: none; }
  .faqpage ul li a.open .arrow-up { display: block; }
  .faqpage ul li a.open .arrow-down { display: none; }
  .faqpage ul li .description {
    color: #000;
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
  }
  .faqpage ul li .description p {
    font-size: 18px;
    font-weight: 300;
  }

  @media all and (max-width: 900px) {
    .page.contact {padding: 0 2em;}
    .page.contact h2 {font-size: 1em;}
    .page.contact input {margin-bottom: 1em;}
    .page.contact #reason {margin-bottom: 2em;}
    .page.contact .btn {width: 100%; margin-bottom: 2em;}
    .faqpage {max-width: 100%; padding: 0 2em; margin-bottom: 4em;}
    .faqpage .title {font-size: 1.75em;}
  }
</style>

{% section 'hero-contact-us' %}
<div class="page contact container flex justify-content-start medium-down--column-reverse">
  <div class="two-tenths medium-down--one-whole text-left medium-down--text-center">
    <h2 class="custom_title_font">LOCATIONS</h2>
    <p class="custom_text_font">Rejuvia HQ<br />Philadelphia, PA<br /></p>
    <p class="custom_text_font"><a href="mailto:hello@rejuvia.co" class="custom_button_font">hello@rejuvia.co</a>
       <h2 class="custom_title_font">Customer Service Hours</h2>
        <p class="custom_text_font">Weekdays: 9AM-5PM EST<br />Weekends: 9AM-3PM EST<br />
            <h2 class="custom_title_font">Account Troubles?</h2>
    <p class="custom_text_font">Activate your subscription account <a href="https://www.rejuvia.co/account/register">here</a> using the email used to start your subscription.</p>


  </div>
  <div class="two-thirds medium-down--one-whole">
    <p class="success-msg">Thanks for contacting us! We'll get back to you within 24-48 hours.</p>
    {%- form 'contact' -%}
      <div class="success-msg" {% if form.posted_successfully? %}style="display: block"{% endif %}>Thanks for contacting us! We'll get back to you within 24-48 hours.</div>
      <div class="error-msg"></div>
      <div class="form-wrap flex direction-column justify-content-start text-left medium-down--text-center">
        <h2 class="custom_title_font">Send Us a Message</h2>
        <div class="flex medium-down--direction-column custom_text_font">
          <div class="form-left one-half medium-down--one-whole">
            <input type="hidden" id="section" name="contact[section]" value="Contact" />
            <input id="name" type="text" class="name" name="contact[name]" autocomplete="name" placeholder="Your Name" />
            <input id="email" type="email" class="email required" name="contact[email]" aria-required="true" autocomplete="email" placeholder="Email Address" />
            <input id="reason" type="text" class="reason required" name="contact[reason]" aria-required="true" autocomplete="reason" placeholder="Order Number (if applicable)" />
          </div>
          <div class="one-half medium-down--one-whole">
            <textarea id="message" class="message required" name="contact[body]" aria-required="true" placeholder="Type a message"></textarea>
          </div>
        </div>
        <button type="submit" class="btn custom_button_font">Submit</button>
      </div>
    {%- endform -%}
  </div>
</div>

<script>
  $(function(){

    $('.page.contact form').submit(function(hello@rejuvia.co){
      e.preventDefault();
      e.stopImmediatePropagation();
      var form = $(this);
      var error = false;

      form.find('.error-msg').hide();
      form.find('.error').removeClass('error');

      form.find('.required').each(function(){
        if($(this).val()=="") {
          error = true;
          $(this).addClass('error');
        }
      });
      if(error){
          form.find('.error-msg').show().text('Please complete all the required fields.');
      }else{
        if(!Simplistic.validateEmail(form.find('.email').val())) {
          error = true;
          form.find('.email').addClass('error');
          form.find('.error-msg').show().text('Please provide a valid email address.');
        }
      }
      if(!error) {
        $.ajax({
          url: form.attr('action'),
          data: form.serialize(),
          type: 'POST'
        }).done(function(){
          form.find('.form-wrap').attr('style','display:none!important');
          form.find('.success-msg').show();
        }).error(function(){
          form.unbind("submit");
          form.submit();
        });
      }
    });

    $(".accordion-list .toggle-description").on("click", function(){
      $(this).toggleClass('open');
       $(this).closest('li').find('.description').slideToggle();
       $(this).closest('li').toggleClass('opened');
     });
     // submenu nav
     var i = 0;
     $('.subnav a').each(function(){
      $(this).attr('data-target', i);
      $(this).on("click", function(e) {
        e.preventDefault();
        var sel = '.faqpage li.title#title-' + $(this).data('target');
        $('html,body').animate({ scrollTop: $(sel).offset().top - $('header').outerHeight() }, 500);
      });
      i++;
     })
  });
</script>